<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbActivityGoodsMapper">
  <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbActivityGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="price_type" jdbcType="INTEGER" property="priceType" />
    <result column="activity_price" jdbcType="VARCHAR" property="activityPrice" />
    <result column="activity_ratio" jdbcType="VARCHAR" property="activityRatio" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cms_user_id" jdbcType="INTEGER" property="cmsUserId" />
    <result column="cms_user_name" jdbcType="VARCHAR" property="cmsUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, activity_id, activity_name, goods_id, goods_name, price_type, activit_price, 
    activity_ratio, create_time, update_time, cms_user_id, cms_user_name
  </sql>
  <sql id="Base_Filter_List">
    <if test="activityId != null">
     and activity_id = #{activityId,jdbcType=TIMESTAMP}
    </if>
    <if test="goodsId != null">
      and goods_id = #{goodsId,jdbcType=TIMESTAMP}
    </if>
    <if test="activityName != null">
      and activity_name = #{activityName,jdbcType=TIMESTAMP}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_activity_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_activity_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteGoodsId" parameterType="java.lang.Integer">
    delete from tb_activity_goods
    where goods_id = #{goodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbActivityGoods">
    insert into tb_activity_goods (activity_id, activity_name,
      goods_id, goods_name, price_type, 
      activit_price, activity_ratio, create_time, 
      update_time, cms_user_id, cms_user_name
      )
    values ( #{activityId,jdbcType=INTEGER}, #{activityName,jdbcType=VARCHAR},
      #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{priceType,jdbcType=INTEGER}, 
      #{activitPrice,jdbcType=VARCHAR}, #{activityRatio,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{cmsUserId,jdbcType=INTEGER}, #{cmsUserName,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbActivityGoods">
    update tb_activity_goods
    set activity_id = #{activityId,jdbcType=INTEGER},
      activity_name = #{activityName,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      price_type = #{priceType,jdbcType=INTEGER},
      activit_price = #{activitPrice,jdbcType=VARCHAR},
      activity_ratio = #{activityRatio,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cms_user_id = #{cmsUserId,jdbcType=INTEGER},
      cms_user_name = #{cmsUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectActivityGoods" parameterType="com.chaomeis.sparrowbeauty.entity.TbActivityGoods" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_activity_goods
    where activity_id = #{activityId,jdbcType=INTEGER}
    AND goods_id = #{goodsId,jdbcType=INTEGER}
    LIMIT 1
  </select>
  <select id="selectActivityGoodsList" parameterType="com.chaomeis.sparrowbeauty.entity.TbActivityGoods" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_activity_goods
    where 1=1
    <include refid="Base_Filter_List"/>
  </select>
</mapper>