<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbActivityMapper">

  <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbActivity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_type" jdbcType="VARCHAR" property="activityType" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="start_hour" jdbcType="INTEGER" property="startHour" />
    <result column="end_hour" jdbcType="INTEGER" property="endHour" />
    <result column="activity_poster" jdbcType="VARCHAR" property="activityPoster" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="activity_ratio" jdbcType="VARCHAR" property="activityRatio" />
    <result column="cms_user_id" jdbcType="INTEGER" property="cmsUserId" />
    <result column="cms_user_name" jdbcType="VARCHAR" property="cmsUserName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, activity_name, activity_type, start_date, end_date, start_hour, end_hour, activity_poster, 
    create_time, update_time, activity_ratio, cms_user_id, cms_user_name
  </sql>
  <sql id="Base_Filter_List">
    <if test="id != null">
      and id=#{id,jdbcType=INTEGER}
    </if>
    <if test="activityName != null">
      and activity_name=#{activityName,jdbcType=VARCHAR}
    </if>
    <if test="activityType != null">
      and activity_type=#{activitytype,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbActivity">
    insert into tb_activity (id, activity_name, activity_type, 
      start_date, end_date, start_hour, 
      end_hour, activity_poster, create_time, 
      update_time, activity_ratio, cms_user_id, 
      cms_user_name)
    values (#{id,jdbcType=INTEGER}, #{activityName,jdbcType=VARCHAR}, #{activityType,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{startHour,jdbcType=INTEGER}, 
      #{endHour,jdbcType=INTEGER}, #{activityPoster,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{activityRatio,jdbcType=VARCHAR}, #{cmsUserId,jdbcType=INTEGER}, 
      #{cmsUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chaomeis.sparrowbeauty.entity.TbActivity">
    insert into tb_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="activityType != null">
        activity_type,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="startHour != null">
        start_hour,
      </if>
      <if test="endHour != null">
        end_hour,
      </if>
      <if test="activityPoster != null">
        activity_poster,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="activityRatio != null">
        activity_ratio,
      </if>
      <if test="cmsUserId != null">
        cms_user_id,
      </if>
      <if test="cmsUserName != null">
        cms_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityType != null">
        #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="startHour != null">
        #{startHour,jdbcType=INTEGER},
      </if>
      <if test="endHour != null">
        #{endHour,jdbcType=INTEGER},
      </if>
      <if test="activityPoster != null">
        #{activityPoster,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityRatio != null">
        #{activityRatio,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserId != null">
        #{cmsUserId,jdbcType=INTEGER},
      </if>
      <if test="cmsUserName != null">
        #{cmsUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chaomeis.sparrowbeauty.entity.TbActivity">
    update tb_activity
    <set>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityType != null">
        activity_type = #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="startHour != null">
        start_hour = #{startHour,jdbcType=INTEGER},
      </if>
      <if test="endHour != null">
        end_hour = #{endHour,jdbcType=INTEGER},
      </if>
      <if test="activityPoster != null">
        activity_poster = #{activityPoster,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityRatio != null">
        activity_ratio = #{activityRatio,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserId != null">
        cms_user_id = #{cmsUserId,jdbcType=INTEGER},
      </if>
      <if test="cmsUserName != null">
        cms_user_name = #{cmsUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbActivity">
    update tb_activity
    set activity_name = #{activityName,jdbcType=VARCHAR},
      activity_type = #{activityType,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      start_hour = #{startHour,jdbcType=INTEGER},
      end_hour = #{endHour,jdbcType=INTEGER},
      activity_poster = #{activityPoster,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      activity_ratio = #{activityRatio,jdbcType=VARCHAR},
      cms_user_id = #{cmsUserId,jdbcType=INTEGER},
      cms_user_name = #{cmsUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectValidActivityy" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_activity WHERE
    (DATE(NOW()) BETWEEN start_date AND end_date) AND (HOUR (NOW()) BETWEEN start_hour AND end_hour) LIMIT 1
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM tb_activity WHERE 1=1
    <include refid="Base_Filter_List"/>
  </select>
</mapper>