<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbCouponsMapper">
    <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbCoupons">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="coupons_type" jdbcType="INTEGER" property="couponsType"/>
        <result column="coupons_name" jdbcType="VARCHAR" property="couponsName"/>
        <result column="coupons_ratio" jdbcType="VARCHAR" property="couponsRatio"/>
        <result column="consume_amount" jdbcType="INTEGER" property="consumeAmount"/>
        <result column="reduce_amount" jdbcType="INTEGER" property="reduceAmount"/>
        <result column="consume_count" jdbcType="INTEGER" property="consumeCount"/>
        <result column="give_count" jdbcType="INTEGER" property="giveCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="coupons_poster" jdbcType="VARCHAR" property="couponsPoster"/>
        <result column="use_rules" jdbcType="VARCHAR" property="useRules"/>
        <result column="use_scope" jdbcType="VARCHAR" property="useScope"/>
        <result column="coupons_list_poster" jdbcType="VARCHAR" property="couponsListPoster"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, coupons_type, coupons_name, coupons_ratio, consume_amount, reduce_amount, consume_count,
        give_count, create_time, update_time, coupons_poster, use_rules, use_scope, coupons_list_poster
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_coupons where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_coupons where 1 = 1
    </select>
    <select id="selectCouponsList" resultMap="BaseResultMap"
            parameterType="com.chaomeis.sparrowbeauty.entity.TbCoupons">
        select
        <include refid="Base_Column_List"/>
        from tb_coupons where 1 = 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from tb_coupons
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbCoupons">
        insert into tb_coupons (id,
                                coupons_type,
                                coupons_name,
                                coupons_ratio,
                                consume_amount,
                                reduce_amount,
                                consume_count,
                                give_count,
                                create_time,
                                update_time,
                                coupons_poster,
                                use_rules,
                                use_scope,
                                coupons_list_poster)
        values (#{id,jdbcType=INTEGER},
                #{couponsType,jdbcType=INTEGER},
                #{couponsName,jdbcType=VARCHAR},
                #{couponsRatio,jdbcType=VARCHAR},
                #{consumeAmount,jdbcType=INTEGER},
                #{reduceAmount,jdbcType=INTEGER},
                #{consumeCount,jdbcType=INTEGER},
                #{giveCount,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP},
                #{couponsPoster,jdbcType=VARCHAR},
                #{useRules,jdbcType=VARCHAR},
                #{useScope,jdbcType=VARCHAR},
                #{couponsListPoster,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbCoupons">
        update tb_coupons
        set coupons_type        = #{couponsType,jdbcType=INTEGER},
            coupons_name        = #{couponsName,jdbcType=VARCHAR},
            coupons_ratio       = #{couponsRatio,jdbcType=VARCHAR},
            consume_amount      = #{consumeAmount,jdbcType=INTEGER},
            reduce_amount       = #{reduceAmount,jdbcType=INTEGER},
            consume_count       = #{consumeCount,jdbcType=INTEGER},
            give_count          = #{giveCount,jdbcType=INTEGER},
            update_time         = #{updateTime,jdbcType=TIMESTAMP},
            coupons_poster      = #{couponsPoster,jdbcType=VARCHAR},
            use_rules           = #{useRules,jdbcType=VARCHAR},
            use_scope           = #{useScope,jdbcType=VARCHAR},
            coupons_list_poster = #{couponsListPoster,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
