<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbSkuTypeMapper">
  <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbSkuType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku_type_name" jdbcType="VARCHAR" property="skuTypeName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="cms_user_id" jdbcType="INTEGER" property="cmsUserId" />
    <result column="cms_user_name" jdbcType="VARCHAR" property="cmsUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cms_view" jdbcType="VARCHAR" property="cmsView" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_type_name, remark, cms_user_id, cms_user_name, create_time, update_time, 
    cms_view
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> from tb_sku_type where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findSkuTypeByIds" resultMap="BaseResultMap" parameterType="list">
    SELECT <include refid="Base_Column_List" /> FROM tb_sku_type WHERE id IN
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="findSkuTypeList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM tb_sku_type WHERE 1=1
      <if test="skuTypeName != null">
          AND sku_type_name =  #{skuTypeName,jdbcType=VARCHAR}
      </if>
      <if test="id != null">
        AND id =  #{id,jdbcType=INTEGER}
      </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_sku_type where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbSkuType">
    insert into tb_sku_type (id, sku_type_name, remark,
      cms_user_id, cms_user_name, create_time, 
      update_time, cms_view)
    values (#{id,jdbcType=INTEGER}, #{skuTypeName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{cmsUserId,jdbcType=INTEGER}, #{cmsUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{cmsView,jdbcType=VARCHAR})
    <selectKey keyProperty="id" resultType="java.lang.Integer">
      select LAST_INSERT_ID() as id
    </selectKey>
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbSkuType">
    update tb_sku_type
    set sku_type_name = #{skuTypeName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      cms_user_id = #{cmsUserId,jdbcType=INTEGER},
      cms_user_name = #{cmsUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cms_view = #{cmsView,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>