<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbSkuDetailMapper">
  <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbSkuDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku_type_id" jdbcType="INTEGER" property="skuTypeId" />
    <result column="sku_detail_name" jdbcType="VARCHAR" property="skuDetailName" />
    <result column="sku_detail_price" jdbcType="VARCHAR" property="skuDetailPrice" />
    <result column="cms_view" jdbcType="VARCHAR" property="cmsView" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="cms_user_id" jdbcType="INTEGER" property="cmsUserId" />
    <result column="cms_user_name" jdbcType="VARCHAR" property="cmsUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_type_id, sku_detail_name, sku_detail_price, cms_view, remark, cms_user_id, 
    cms_user_name, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from tb_sku_detail where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findSkuDetailBySkuTypeId" resultMap="BaseResultMap" parameterType="int">
    SELECT  <include refid="Base_Column_List" /> FROM  tb_sku_detail WHERE sku_type_id = #{skuTypeId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_sku_detail where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteSkuTypeId" parameterType="java.lang.Integer">
    delete from tb_sku_detail where sku_type_id = #{skuTypeId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbSkuDetail">
    insert into tb_sku_detail (id, sku_type_id, sku_detail_name, 
      sku_detail_price, cms_view, remark, 
      cms_user_id, cms_user_name, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{skuTypeId,jdbcType=INTEGER}, #{skuDetailName,jdbcType=VARCHAR}, 
      #{skuDetailPrice,jdbcType=VARCHAR}, #{cmsView,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{cmsUserId,jdbcType=INTEGER}, #{cmsUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbSkuDetail">
    update tb_sku_detail
    set sku_type_id = #{skuTypeId,jdbcType=INTEGER},
      sku_detail_name = #{skuDetailName,jdbcType=VARCHAR},
      sku_detail_price = #{skuDetailPrice,jdbcType=VARCHAR},
      cms_view = #{cmsView,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      cms_user_id = #{cmsUserId,jdbcType=INTEGER},
      cms_user_name = #{cmsUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>