<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbSuitMapper">
  <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbSuit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="second_name" jdbcType="VARCHAR" property="secondName" />
    <result column="suit_price" jdbcType="VARCHAR" property="suitPrice" />
    <result column="sku_detail_ids" jdbcType="VARCHAR" property="skuDetailIds" />
    <result column="sku_detail_descs" jdbcType="VARCHAR" property="skuDetailDescs" />
    <result column="suit_cover" jdbcType="VARCHAR" property="suitCover" />
    <result column="suit_detail_poster" jdbcType="VARCHAR" property="suitDetailPoster" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cms_user_id" jdbcType="INTEGER" property="cmsUserId" />
    <result column="cms_user_name" jdbcType="VARCHAR" property="cmsUserName" />
    <result column="simple_desc" jdbcType="VARCHAR" property="simpleDesc" />
    <result column="second_desc" jdbcType="VARCHAR" property="secondDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, first_name, second_name, suit_price, sku_detail_ids, sku_detail_descs, suit_cover, 
    suit_detail_poster, create_time, update_time, cms_user_id, cms_user_name, simple_desc, 
    second_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from tb_suit where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List" /> FROM tb_suit
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_suit where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbSuit">
    insert into tb_suit (id, first_name, second_name, 
      suit_price, sku_detail_ids, sku_detail_descs, 
      suit_cover, suit_detail_poster, create_time, 
      update_time, cms_user_id, cms_user_name, 
      simple_desc, second_desc)
    values (#{id,jdbcType=INTEGER}, #{firstName,jdbcType=VARCHAR}, #{secondName,jdbcType=VARCHAR}, 
      #{suitPrice,jdbcType=VARCHAR}, #{skuDetailIds,jdbcType=VARCHAR}, #{skuDetailDescs,jdbcType=VARCHAR}, 
      #{suitCover,jdbcType=VARCHAR}, #{suitDetailPoster,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{cmsUserId,jdbcType=INTEGER}, #{cmsUserName,jdbcType=VARCHAR}, 
      #{simpleDesc,jdbcType=VARCHAR}, #{secondDesc,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbSuit">
    update tb_suit
    set first_name = #{firstName,jdbcType=VARCHAR},
      second_name = #{secondName,jdbcType=VARCHAR},
      suit_price = #{suitPrice,jdbcType=VARCHAR},
      sku_detail_ids = #{skuDetailIds,jdbcType=VARCHAR},
      sku_detail_descs = #{skuDetailDescs,jdbcType=VARCHAR},
      suit_cover = #{suitCover,jdbcType=VARCHAR},
      suit_detail_poster = #{suitDetailPoster,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cms_user_id = #{cmsUserId,jdbcType=INTEGER},
      cms_user_name = #{cmsUserName,jdbcType=VARCHAR},
      simple_desc = #{simpleDesc,jdbcType=VARCHAR},
      second_desc = #{secondDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>