<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbUserAccountMapper">
  <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbUserAccount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="api_user_id" jdbcType="INTEGER" property="apiUserId" />
    <result column="total_amount" jdbcType="VARCHAR" property="totalAmount" />
    <result column="remaining_amount" jdbcType="VARCHAR" property="remainingAmount" />
    <result column="withdrawaling_amount" jdbcType="VARCHAR" property="withdrawalingAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="freeze_amount" jdbcType="VARCHAR" property="freezeAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, api_user_id, total_amount, remaining_amount, withdrawaling_amount, create_time, 
    update_time, freeze_amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserAccount">
    insert into tb_user_account (id, open_id, api_user_id, 
      total_amount, remaining_amount, withdrawaling_amount, 
      create_time, update_time, freeze_amount
      )
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{apiUserId,jdbcType=INTEGER}, 
      #{totalAmount,jdbcType=VARCHAR}, #{remainingAmount,jdbcType=VARCHAR}, #{withdrawalingAmount,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{freezeAmount,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserAccount">
    update tb_user_account
    set open_id = #{openId,jdbcType=VARCHAR},
      api_user_id = #{apiUserId,jdbcType=INTEGER},
      total_amount = #{totalAmount,jdbcType=VARCHAR},
      remaining_amount = #{remainingAmount,jdbcType=VARCHAR},
      withdrawaling_amount = #{withdrawalingAmount,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      freeze_amount = #{freezeAmount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>