<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbUserWithdrawalRecordMapper">
  <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbUserWithdrawalRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="api_user_id" jdbcType="INTEGER" property="apiUserId" />
    <result column="withdrawal_amount" jdbcType="VARCHAR" property="withdrawalAmount" />
    <result column="withdrawal_status" jdbcType="INTEGER" property="withdrawalStatus" />
    <result column="auditor_id" jdbcType="INTEGER" property="auditorId" />
    <result column="auditor_name" jdbcType="VARCHAR" property="auditorName" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_remark" jdbcType="VARCHAR" property="auditRemark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, api_user_id, withdrawal_amount, withdrawal_status, auditor_id, auditor_name, 
    audit_time, audit_remark, create_time, update_time, serial_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user_withdrawal_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user_withdrawal_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserWithdrawalRecord">
    insert into tb_user_withdrawal_record (id, open_id, api_user_id, 
      withdrawal_amount, withdrawal_status, auditor_id, 
      auditor_name, audit_time, audit_remark, 
      create_time, update_time, serial_no
      )
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{apiUserId,jdbcType=INTEGER}, 
      #{withdrawalAmount,jdbcType=VARCHAR}, #{withdrawalStatus,jdbcType=INTEGER}, #{auditorId,jdbcType=INTEGER}, 
      #{auditorName,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, #{auditRemark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{serialNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserWithdrawalRecord">
    insert into tb_user_withdrawal_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="apiUserId != null">
        api_user_id,
      </if>
      <if test="withdrawalAmount != null">
        withdrawal_amount,
      </if>
      <if test="withdrawalStatus != null">
        withdrawal_status,
      </if>
      <if test="auditorId != null">
        auditor_id,
      </if>
      <if test="auditorName != null">
        auditor_name,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="auditRemark != null">
        audit_remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="serialNo != null">
        serial_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="apiUserId != null">
        #{apiUserId,jdbcType=INTEGER},
      </if>
      <if test="withdrawalAmount != null">
        #{withdrawalAmount,jdbcType=VARCHAR},
      </if>
      <if test="withdrawalStatus != null">
        #{withdrawalStatus,jdbcType=INTEGER},
      </if>
      <if test="auditorId != null">
        #{auditorId,jdbcType=INTEGER},
      </if>
      <if test="auditorName != null">
        #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null">
        #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serialNo != null">
        #{serialNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserWithdrawalRecord">
    update tb_user_withdrawal_record
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="apiUserId != null">
        api_user_id = #{apiUserId,jdbcType=INTEGER},
      </if>
      <if test="withdrawalAmount != null">
        withdrawal_amount = #{withdrawalAmount,jdbcType=VARCHAR},
      </if>
      <if test="withdrawalStatus != null">
        withdrawal_status = #{withdrawalStatus,jdbcType=INTEGER},
      </if>
      <if test="auditorId != null">
        auditor_id = #{auditorId,jdbcType=INTEGER},
      </if>
      <if test="auditorName != null">
        auditor_name = #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null">
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serialNo != null">
        serial_no = #{serialNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserWithdrawalRecord">
    update tb_user_withdrawal_record
    set open_id = #{openId,jdbcType=VARCHAR},
      api_user_id = #{apiUserId,jdbcType=INTEGER},
      withdrawal_amount = #{withdrawalAmount,jdbcType=VARCHAR},
      withdrawal_status = #{withdrawalStatus,jdbcType=INTEGER},
      auditor_id = #{auditorId,jdbcType=INTEGER},
      auditor_name = #{auditorName,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      serial_no = #{serialNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>