<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaomeis.sparrowbeauty.mapper.TbUserCouponsMapper">
  <resultMap id="BaseResultMap" type="com.chaomeis.sparrowbeauty.entity.TbUserCoupons">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="coupons_id" jdbcType="INTEGER" property="couponsId" />
    <result column="coupons_name" jdbcType="VARCHAR" property="couponsName" />
    <result column="receive_date" jdbcType="INTEGER" property="receiveDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="coupons_poster" jdbcType="VARCHAR" property="couponsPoster" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="is_referrer" jdbcType="INTEGER" property="isReferrer" />
    <result column="coupons_ratio" jdbcType="VARCHAR" property="couponsRatio" />
    <result column="consume_amount" jdbcType="VARCHAR" property="consumeAmount" />
    <result column="reduce_amount" jdbcType="VARCHAR" property="reduceAmount" />
    <result column="coupons_type" jdbcType="INTEGER" property="couponsType" />
    <result column="use_rules" jdbcType="VARCHAR" property="useRules" />
    <result column="use_scope" jdbcType="VARCHAR" property="useScope" />
    <result column="coupons_source" jdbcType="INTEGER" property="couponsSource" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="use_way" jdbcType="INTEGER" property="useWay" />
    <result column="expire_type" jdbcType="INTEGER" property="expireType" />
    <result column="cash_amount" jdbcType="VARCHAR" property="cashAmount" />
    <result column="api_user_id" jdbcType="INTEGER" property="apiUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, coupons_id, coupons_name, receive_date, create_time, status, coupons_poster, 
    expire_date, is_referrer, coupons_ratio,consume_amount,reduce_amount, coupons_type, use_rules, use_scope, coupons_source,
    source_name, activity_id, use_way, expire_type, cash_amount, api_user_id
  </sql>
  <sql id="Base_Filter_List">
    <if test="status != null">
      and status=#{status,jdbcType=INTEGER}
    </if>
    <if test="openId != null">
      and open_id = #{openId,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user_coupons
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserCoupons">
    insert into tb_user_coupons (id, open_id, coupons_id, 
      coupons_name, receive_date, create_time, 
      status, coupons_poster, expire_date, 
      is_referrer, coupons_ratio,consume_amount,
       reduce_amount,coupons_type,
      use_rules, use_scope, coupons_source, 
      source_name, activity_id, use_way, 
      expire_type, cash_amount, api_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{couponsId,jdbcType=INTEGER}, 
      #{couponsName,jdbcType=VARCHAR}, #{receiveDate,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{couponsPoster,jdbcType=VARCHAR}, #{expireDate,jdbcType=TIMESTAMP}, 
      #{isReferrer,jdbcType=INTEGER}, #{couponsRatio,jdbcType=VARCHAR},
        #{consumeAmount,jdbcType=VARCHAR},#{reduceAmount,jdbcType=VARCHAR},
       #{couponsType,jdbcType=INTEGER},
      #{useRules,jdbcType=VARCHAR}, #{useScope,jdbcType=VARCHAR}, #{couponsSource,jdbcType=INTEGER}, 
      #{sourceName,jdbcType=VARCHAR}, #{activityId,jdbcType=INTEGER}, #{useWay,jdbcType=INTEGER}, 
      #{expireType,jdbcType=INTEGER}, #{cashAmount,jdbcType=VARCHAR}, #{apiUserId,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserCoupons">
    update tb_user_coupons
    set open_id = #{openId,jdbcType=VARCHAR},
      coupons_id = #{couponsId,jdbcType=INTEGER},
      coupons_name = #{couponsName,jdbcType=VARCHAR},
      receive_date = #{receiveDate,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      coupons_poster = #{couponsPoster,jdbcType=VARCHAR},
      expire_date = #{expireDate,jdbcType=TIMESTAMP},
      is_referrer = #{isReferrer,jdbcType=INTEGER},
      coupons_ratio = #{couponsRatio,jdbcType=VARCHAR},
      consume_amount = #{consumeAmount,jdbcType=VARCHAR},
      reduce_amount = #{reduceAmount,jdbcType=VARCHAR},
      coupons_type = #{couponsType,jdbcType=INTEGER},
      use_rules = #{useRules,jdbcType=VARCHAR},
      use_scope = #{useScope,jdbcType=VARCHAR},
      coupons_source = #{couponsSource,jdbcType=INTEGER},
      source_name = #{sourceName,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=INTEGER},
      use_way = #{useWay,jdbcType=INTEGER},
      expire_type = #{expireType,jdbcType=INTEGER},
      cash_amount = #{cashAmount,jdbcType=VARCHAR},
      api_user_id = #{apiUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserCoupons" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserCoupons" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user_coupons
    where id = #{id,jdbcType=INTEGER}
    AND open_id =  #{openId,jdbcType=VARCHAR}
    AND status =  0
  </select>

  <select id="selectPageList" parameterType="com.chaomeis.sparrowbeauty.entity.TbUserCoupons" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user_coupons
    where 1=1
    <include refid="Base_Filter_List"/>
  </select>

</mapper>